<div class="container">
  <h1>Fill out the survey</h1>

  <% if @photo %>
    <br><br>
    <img class="survey_image" src='<%=@photo.filename%>'>
  <% end %>

  <h1><%= @survey.name %></h1>
    <form action="/complete_survey/<%= @survey.id %>" method="post">
      <% @survey.questions.each do |question| %>
        Question: <%= question.content %><br>
          <% question.responses.each do |response| %>
            <br><input type="radio" name="q_r[<%= question.id %>]" value="<%= response.id %>"><%= response.content %>
            <% end %>
            <br><br>
        <% end %>
        <br>
    <input type="submit" value="submit">
  </form>
</div>
