<div class="container">
  <h1>Fill out the survey</h1>

  <h1><%= @survey.name %></h1>
      <% @survey.questions.each do |question| %>
        Question:<%= question.content %>
         <form action="/complete_survey/<%= @survey.id %>" method="post">
          <% question.responses.each do |response| %>
            <br><input type="radio" name="q_r[<%= question.id %>]" value="<%= response.id %>"><%= response.content %>
            <% end %>
        <% end %>
        <br>
    <input type="submit" value="submit">
  </form>
</div>
