<h2> Your results for: <%=@survey.name%> </h2>

<% @questions.each_with_index do |question, index| %>
  
<div class="question">  
Question <%=index+1%> of total <%=@questions.length%><br>
<b><%= question.content %></b>
<br><br>
  <% question.responses.each_with_index do |response, response_index| %>
  <%= response_index+1 %>.&nbsp;<%=response.content%> <%=Userresponse.where(response_id: response.id).length %>
  <br>
  <%end%>
  <br><br>
</div>
<% end %>
